.About_section {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url("/images/about/Background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    
}

.About_image_box {
    position: absolute; /* Абсолютное позиционирование относительно родителя */
    left: 50%; /* Сдвигаем центр в середину */
    bottom: 0; /* Прикрепляем к нижней части */
    transform: translateX(-50%); /* Центрируем по горизонтали */

    display: flex; 
    flex-direction: column; /* Выравниваем элементы вертикально */
    align-items: center; /* Центрируем по горизонтали */
    justify-content: center; /* Центрируем по вертикали */
    text-align: center; /* Выравниваем текстовые элементы */
    gap: 5px;
    
    width: max-content; /* Подгоняет размер блока под контент */
    margin-bottom: 5%; /* Добавляем небольшой отступ */
}




.About_scroll_button {
    width: auto;
    height: auto;
    font-family: 'Caviar Dreams Bold', sans-serif;
    font-size: 40px;
}

.About_scroll_image {
    user-select: none; 
    cursor: pointer; 
}